
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.fiscalCode}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.province}}</td>      
        <td>{{user.age}}</td>
        <td>
              <button class="btn btn-info btn-small" (click)="showUserDetail()">Detail</button>   
               <button class="btn btn-primary btn-small" (click)="updateUser()">Update</button>                  
               <button class="btn btn-danger btn-small" (click)="deleteUser()">Delete</button>                   
               
        </td>